*.DS_Store
*/.DS_Store
**/.DS_Store
.DS_Store
*.png
*.gif
*.zip
*.mp4
*.npy
*.json
*__init__.py

mysite

cfq_data/*
./cfq_data/sudden_jump_KEP/*.png
NAND_test/placeholder/*
NAND_test/json_input_folder/*

./*.npy
./*.png
./*.pickle
./*.json



.ipynb_checkpoints
*/.ipynb_checkpoints/*
.venv
.vscode

saved_init_state/*

./flux_qubit_simulation.ipynb
./.git/lfs/objects/57/c6/57c669f994406d3e7196b94cd7a2b45ad26bd152950d253f2897c4df5e0795be
./flux_qubit_simulation-savepoint1.ipynb
./flux_qubit_simulation.ipynb
./.ipynb_checkpoints/flux_qubit_simulation-Copy2-checkpoint.ipynb
./.ipynb_checkpoints/flux_qubit_simulation-checkpoint.ipynb
./.ipynb_checkpoints/coupled_flux_qubit_simulation-checkpoint.ipynb
./.ipynb_checkpoints/flux_qubit_simulation-savepoint1-checkpoint.ipynb

coupled_flux_qubit_protocol/*


./flux_qubit_simulation-Copy2.ipynb
./coupled_flux_qubit_simulation.ipynb

./.git/objects/6f/95b460b1a7dfbf1fd60ef50e75f11e32ba0200
./.git/objects/d1/78c312151c5862b36ae85fa17d50478e4747a8
./.git/objects/26/5b26611219984bca7555d75b83e7660ff28ca7
./.git/objects/2f/f703597bf1ab3767a720ea359bfddec08ecd97
./.git/lfs/objects/57/c6/57c669f994406d3e7196b94cd7a2b45ad26bd152950d253f2897c4df5e0795be
./.git/lfs/objects/3c/be/3cbe67baee766649a0cc27eca9b4e3e5d3bf0f11b2d5f847ee2a05070a877f6e
./.git/lfs/objects/67/a3/67a3561d7f502e8e980ffd60d0682d9688b50de8ac5ff1a8514447fb420a8022
./.git/lfs/objects/8a/49/8a49c4f3da61d92a1c6373c05a5940d067c72ccc289502db0b8326f8dc629a41
./.git/lfs/objects/46/86/468653e35803be4c2c70f8f29c4d6b9ae67f527b88588effdfde9801b994810f
./.git/lfs/objects/24/42/24428a9fa40d5a787a96417a87db1f9c955c47a331ed8986fea60a05c776ac17



./kyle_tools/.ipynb_checkpoints/*

coupled_flux_qubit_protocol/coupled_flux_qubit_data_gallery/*.mp4
coupled_flux_qubit_protocol/coupled_flux_qubit_data_gallery/*.npy
coupled_flux_qubit_protocol/coupled_flux_qubit_data_gallery/*.png


coupled_flux_qubit_protocol/coupled_flux_qubit_initial_state/*
simulation_notebook/*
kyle_tools/original_tutorial.ipynb
kyle_tools/retutorial.ipynb
kyle_tools/tutorial-Copy1.ipynb
kyle_tools/tutorial-test-different-potentials.ipynb
kyle_tools/tutorial.ipynb


coupled_flux_qubit_protocol/myarch_mothra/*
coupled_flux_qubit_protocol/myarch_mothra.zip
./*.npy
*.pyc
